In [19]:
import pandas as pd 
json_file = "json_file/movies.json"
df = pd.read_json(json_file)
df.index =[ f"person {i+ 1}  " for i in range(len(df))]
df

,title,year,cast,genres
person 1,After Dark in Central Park,1900,[],[]
person 2,Boarding School Girls' Pajama Parade,1900,[],[]
person 3,Buffalo Bill's Wild West Parad,1900,[],[]
person 4,Caught,1900,[],[]
person 5,Clowns Spinning Hats,1900,[],[]
...,...,...,...,...
person 28791,Bumblebee,2018,"[Hailee Steinfeld, John Cena, Jorge Lendeborg ...","[Action, Adventure, Science Fiction]"
person 28792,Welcome to Marwen,2018,"[Steve Carell, Leslie Mann, Diane Kruger, Falk...","[Fantasy, Drama]"
person 28793,Holmes and Watson,2018,"[Will Ferrell, John C. Reilly, Rebecca Hall, R...","[Action, Mystery, Comedy]"
person 28794,On the Basis of Sex,2018,"[Felicity Jones, Armie Hammer, Justin Theroux,...","[Biography, Drama]"
person 28795,Destroyer,2018,"[Nicole Kidman, Tatiana Maslany, Sebastian Sta...","[Crime, Thriller]"

In [10]:
df.shape

(28795, 4)

In [11]:
df.size

115180

In [16]:
df.isna().sum().sum()

np.int64(0)